@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Bienvenido</h1>

 <div class="insquare">
    <div class="infoIndex">

        <p class="text-center fw-bold">Vendemos hardaware de todo tipo y equipo tecnologico!</p>

        <div class="infoIndex">

            <p>
                <i class='bx bxs-purchase-tag'></i> Aqui puede ver nuestra lista de productos disponibles
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class='bx bxs-category'></i> Aqui puede ver nuestra lista de categorias
            </p>

        </div>

    </div>
 </div>
