@page "/Productos/Agregar"
@inject NavigationManager navigationManager
@inject IHttpServicio http

<body>
    <h3>AgregarProducto</h3>

    <FormProductos producto="producto" onValidSubmit="grabar" onCancel="cancelar">


    </FormProductos>







</body>


@code {
    private Producto producto = new();

    private async void grabar()
    {
        ProductoDTO productoDTO = new()
        {
            codigo = producto.codigo,
            nombre = producto.nombre,
            descripcion = producto.descripcion,
            precio = producto.precio,
            cantidad = producto.cantidad,
            categoriaId = producto.categoriaId
        };
        var httpRespuesta = await http.Post<ProductoDTO>("api/Producto", productoDTO);


        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/Productos");
    }

    private async void cancelar()
    {
        navigationManager.NavigateTo("/Productos");
    }

}

