@page "/Categorias/Editar/{categoriaId:int}"

@inject NavigationManager navigationManager
@inject IHttpServicio http

<body>
    <h3>Editar Categoria</h3>

    <FormCategoria categoria="categoria" onValidSubmit="grabar" onCancel="cancelar">


    </FormCategoria>

</body>

@code {
    private Categoria categoria = new();
    [Parameter] public int categoriaId { get; set; }
    string mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Categoria>($"api/Categoria/{categoriaId}");

        if (!respuesta.Error)
        {
            categoria = respuesta.Respuesta;
        }
        else
        {
            mensaje = await respuesta.ObtenerError();
        }
    }

    private async void grabar()
    {

        var httpRespuesta = await http.Put<Categoria>($"api/Categoria/{categoriaId}", categoria);


        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }

        navigationManager.NavigateTo("/Categorias");
    }

    private async void cancelar()
    {
        navigationManager.NavigateTo("/Categorias");
    }

}