@using ModeladoTarea.Client.Pages.Productos
@inject IHttpServicio http
@inject NavigationManager navigationManager

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; background-color: rgba(10,10,10,.8);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="color:white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
                <button type="button" class="close;" style=" border-width:0px; background-color: #00000000;" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <FormCategoria categoria="categoria" onValidSubmit="grabar" onCancel="@ModalCancel" />

            </div>

        </div>
    </div>
</div>

@code {


   Categoria categoria = new();

    private async void grabar()
    {
        CategoriaDTO categoriaDTO = new()
            {
                categoria = categoria.categoria

            };
        var httpRespuesta = await http.Post<CategoriaDTO>("api/Categoria", categoriaDTO);


        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }

        await OnClose.InvokeAsync(true);
    }



    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

}
